---
import '../styles/verse-card.css';
 
// Props
const {
  verseNumber = 1,
  arabicText = "ٱلْـحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ",
  translation = "[All] praise is [due] to Allah, Lord of the worlds",
  transliteration = "Alḥamdu lillāhi rabbi l-ʿālamīn"
} = Astro.props;
---
  
<div class="container">
  <div class="left-column">
    <div class="left-box"><span class="square-icon">{verseNumber}</span></div>
    <div class="left-box"><span class="play-icon"></span></div>
    <div class="left-box"><span class="share-icon"></span></div>
    <div class="left-box"><span class="star-icon"></span></div>
  </div>

  <div class="right-column">
    <div class="right-box quran-verses" dir="rtl">{arabicText}</div>
    <div class="right-box quran-translations">{translation}</div>
    <div class="right-box quran-translations">{transliteration || '— Transliteration'}</div>
  </div>
</div>